examples/crewai/crewai_db_*
tmp.png
copilot.md
support-bundle-*
enterprise-gtm-starter
password.txt
old_server
kustomize/overlays/dev_dex
*-unsealed.yaml

.DS_Store
.idea/
!.idea/runConfigurations
.env
/target
.vagrant/
*.iml
.venv/
nohup.out
*.pyc
atlassian-ide-plugin.xml
*.versionsBackup
dependency-reduced-pom.xml
*.DiskOverflowQueue
.gradletasknamecache
node_modules/
*.swp
*.tfplan
*.htfplan
.dex/
.ipynb_checkpoints
__pycache__


initcontainer-logs/manifests/0-10-12/
initcontainer-logs/manifests/0-38-0/
initcontainer-logs/manifests/0-10-12.tar.gz
initcontainer-logs/manifests/0-38-0.tar.gz
